.col-4 {
  height: 300px;
}


img {
  display: block;
  height: 200px;
  margin: auto;
}

h1, .container {
  text-align: center;
}

.ticket li{
  //list-style: none;
}

.ticket-row {
  width: 300px;
  margin: auto;
}
